
.schemaTable_id {
    color: #000;
}

.schemaTable_legend {
    color: #336;
}

.schemaTable_category {
    color: #363;
}

.schemaTable_input {
    color: #666;
}

.schemaTable_center {
    text-align: center;
}

.schemaTable_left {
    text-align: left;
}

.schemaTable_right {
    text-align: right;
}

.editDist_0 {
    background-color: #05FF90;
}

.editDist_1 {
    background-color: #e8e16a;
}

.editDist_2 {
    background-color: #ffc450;
}

.editDist_3 {
    background-color: #e8903a;
}

.editDist_4 {
    background-color: #e86d2b;
}

.editDist_5 {
    background-color: #ff1406;
}

.editDist_6 {
    background-color: #990000;
}

.navbar {
    margin-bottom: 3px;
}

.table td, .table th, .table>tbody>tr>td, .table>thead>tr>th {
    padding: 0 1px;
}

.table > thead > tr > th {
    border: none;
}

.pagination {
    margin: 0 0.5em;
}

.ng-table-pager {
    display: block;
    width: inherit;
    border: 1px dashed gray;
    padding: 0.25em 0.5em;
}

.ng-table th.filter .input-filter {
    height: 18px;
    min-height: 18px;
    font-size: 10px;
    padding: 1px;
}